* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
    color: blue;
}

.wrapper:hover .lab {
    color: black;
}

.wrapper:hover .lab_img {
    width: 1.2em;
    height: 1.2em;
}

.title {
    margin: 0.3em 0;
    padding: 0.02em;
    color: black;
    font-size: 1.5em;
    border-bottom: 0.04em solid rgba(0, 0, 0, 0.2);
}

.mem {
    vertical-align: middle;
    margin: 0.3em 0;
    padding: 0.02em 0.02em 0.4em;
    border-bottom: 0.04em solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.mem:active>.lab {
    color: blue;
}

.mem:active>.lab_img {
    background-image: url(./assets/icons/plus1.png);
}

.mem:active>.img {
    opacity: 0.6;
}


.lab {
    display: inline-block;
    vertical-align: middle;
    width: 85%;
    font-size: 1em;
    height: 1.2em;
    cursor: pointer;
    transition: all 0.4s;
}

input:checked+.lab,
.lab:hover {
    color: black;
}

.lab_img {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5%;
    background-image: url(./assets/icons/plus.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all 0.4s;
}

.mem:hover>.lab_img,
.lab:hover+.lab_img,
.lab_img:hover {
    width: 1.2em;
    height: 1.2em;
    transform: rotate(45deg);
}

input:checked~.lab_img {
    transform: rotate(45deg);
}

.inp {
    appearance: none;
    width: 0;
    height: 0;
}

.img {
    display: block;
    width: 0;
    padding-bottom: 0;
    margin: 0 auto;
    transition: all 0.5s;
    background-size: cover;
    cursor: pointer;
}

input:checked~.img,
.lab:hover~.img,
.lab_img:hover~.img,
.mem:hover>.img,
.img:hover {
    width: 60%;
    padding-bottom: 40%;
}

.img1 {
    background-image: url(./assets/images/js_works.jpg);
}

.img2 {
    background-image: url(./assets/images/js__kids.jpg);
}

.img3 {
    background-image: url(./assets/images/js_good_parts.jpg);
}

.img4 {
    background-image: url(./assets/images/choose_framework.png);
}

.img5 {
    background-image: url(./assets/images/mobile_css.jpg);
}

.img6 {
    background-image: url(./assets/images/your__site.jpg);
}

@media (max-width:767.9px) {
    .wrapper {
        width: 70%;
    }

    .title {
        font-size: 1em;
    }

    .mem {
        font-size: 0.7em;
    }
    .lab {
        width: 70%;
    }

    input:checked~.img,
    .lab:hover~.img,
    .lab_img:hover~.img,
    .mem:hover>.img,
    .img:hover {
        width: 50%;
        padding-bottom: 33%;
    }
    .lab_img {
        margin-left: 18%;
    }
}

@media (min-width: 1439px)  {
    .wrapper {
        width: 80%;
    }

    .title {
        font-size: 2em;
    }

    .mem {
        font-size: 1.4em;
    }
    .lab {
        width: 85%;
    }

    input:checked~.img,
    .lab:hover~.img,
    .lab_img:hover~.img,
    .mem:hover>.img,
    .img:hover {
        width: 60%;
        padding-bottom: 40%;
    }
    .lab_img {
        margin-left: 10%;
    }
}